# top-most EditorConfig file
root = true

# All Files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Python Files
[*.py]
indent_style = space
indent_size = 4

# Makefiles
[Makefile]
indent_style = tab
